/** Outher  */
.kids .ico {
  font-size: 1.5rem;
}

.kids ._cnt {
  display: flex;
  align-items: center;
  
  width: 100%;

  gap: .3rem;
}

.kids ._cnt p {
  border: var(--border);
  border-radius: var(--br);

  padding: 0.8rem;
  font-size: 0.93rem;

  width: 100%;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.kids ._cnt .check {
  padding: 0.8rem;

  height: 48.59px !important;
  max-width: 52.59px;
}

.kids ._cnt ._menu {
  position: absolute;
  right: -51px;
}

.kids ._grafic.pie {
  height: 15rem !important;
  width: auto !important;
  margin: auto !important;
}

/** Toast */
.kids ._toast {
  position: fixed;
  bottom: 0;
  left: 0;
  margin-bottom: 1.5rem;
  width: -webkit-fill-available;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
}

.kids ._toast ._card {
  width: 391px;
}

/** Card - Global */
.kids ._card {
  background-color: var(--color-2);

  border: var(--border);
  border-radius: var(--br);

  padding: 1.5rem 1rem;

  margin: 0 1rem 0 var(--space);

  gap: 1.5rem;

  display: flex;
  flex-direction: column;

  position: relative;

  margin-top: 23px;
}

.kids ._card.alert {
  flex-direction: row;
  align-items: center;

  gap: .8rem;
}

.kids ._card._toast {
  position: fixed;
  bottom: 15px;

  z-index: 99;
  
  width: 391px;
}

.kids ._card ._fav {
  background-color: var(--color-12);

  border: var(--border);
  border-radius: var(--br);

  width: 3.12rem;
  height: 3.12rem;

  display: grid;
  place-content: center;

  position: absolute;
  top: -25px;
  right: 1rem;
}

.kids ._card ._fav.rd {
  width: 2.5rem;
  height: 2.5rem;

  font-size: 1rem;
}

.kids ._card h2 {
  text-align: start;
}

.kids ._card h2.center {
  text-align: center;
}

.kids ._card._toast::after {
  display: none;
}

.kids ._card::after {
  background-color: var(--color-6);
  border-radius: var(--br);

  content: "";

  display: block;

  height: 100%;
  width: 100%;

  position: absolute;
  top: -2px;
  left: 0;

  transform: translate(8px, 8px);
  transition: transform 0.2s ease-out;

  z-index: -1;
}

/** Buttons & Links  */
.kids ._btn {
  border: var(--border);
  border-radius: var(--br);

  display: flex;
  align-items: center;

  gap: var(--space);

  padding: 0.8rem;
  font-size: 1.2rem;
  width: 100%;

  cursor: pointer;
}

.kids ._btn.ico {
  display: grid;
  place-content: center;
}

.kids ._btn.center {
  justify-content: center;
}

.kids ._btn.min {
  width: -moz-fit-content;
  width: fit-content;
}

.kids ._btn:disabled {
  cursor: not-allowed;
}

.kids ._btn:hover {
  transition: var(--transition) !important;
  background-color: var(--color-11) !important;
}

.kids ._btn:focus-visible {
  transition: var(--transition);

  outline: var(--outline);
  background-color: var(--color-11);
}

.kids ._btn.rd {
  width: 49.59px;
  height: 49.59px;
}

.kids ._btn.active {
  background-color: var(--color-12);
}

/** Block */
.kids ._block {
  border: var(--border);
  border-radius: var(--br);

  display: flex;
  align-items: center;

  text-align: center;

  padding: 0.8rem 1.5rem;
  font-size: 1.2rem;
}

/** Containers  */
.kids ._div,
.kids ._nav,
.kids ._list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.kids ._row {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 1rem;
}

.kids ._list {
  list-style-position: inside;
  list-style-type: disc;
}

@media screen and (min-width: 425px) {
  .kids ._nav {
    flex-direction: row;
  }
}