/** Container`s */
._disable {
  cursor: not-allowed;
}

.kids ._overlay {
  background: var(--overlay);
}

/** Menu*/
.kids ._menu {
  background: var(--color-2);

  border: var(--border);
  border-radius: var(--br);

  font-size: 1.15rem;

  width: 9rem;
  z-index: 1;
}

.kids ._menu ._opt {
  padding: 0.8rem;

  border-bottom: var(--border);
}

.kids ._menu ._opt:first-child {
  border-radius: 10px 10px 0 0;
}

.kids ._menu ._opt:last-child {
  border-radius: 0 0 10px 10px;
  border-bottom: none;
}

.kids ._dash ._menu ._opt.p1 {
  display: none;
}

.kids ._menu ._opt.p1 {
  display: flex;
}

.kids ._menu ._opt:hover {
  transition: var(--transition);
  background-color: var(--color-11);
}

@media screen and (min-width: 375px) {
  .kids ._card._modal {
    width: 343px;
  }
}

@media screen and (min-width: 425px) {
  .kids ._card._modal {
    width: 390px;
  }

  .kids ._card._modal ._sec.head {
    right: 30px;
  }

  .kids ._card.min {
    padding: 1.5rem;
  }

  /** Card - Global */
  /*  .kids ._row {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }*/

  /*  .kids ._flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    gap: 0.8rem;
  }



  .kids ._flex ._btn {
    width: -webkit-fill-available;
  }

  .kids ._card._modal {
    width: 390px;
  }

  .kids ._card._modal ._sec.head {
    right: 30px;
  }

  .kids ._card.min {
    padding: 1.5rem;
  }*/

}

/* Arrumar ainda */

.kids ._card._modal {
  width: 295px;
  margin: auto;

  right: 5px;
}

.kids ._card._modal .nm {
  margin-top: 0;
}

.kids ._card._modal ._sec.head {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.3rem;

  position: absolute;
  top: -25px;
  right: 10px;
}

.kids ._card._modal ._sec.head ._btn {
  width: 3.12rem;
  height: 3.12rem;
}

.kids ._card._modal ._input.min {
  width: 100%;
}

/*._sec {
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: var(--space);
}

._sec ._btn {
  font-size: 1.82rem;
}

.kids ._div,
.kids ._row,
.kids ._flex,
.kids ._nav {
  display: flex;
  flex-direction: column;

  gap: 0.8rem;
}*/